{% extends "base_navbar.html" %}

{% block title %}Мои проекты{% endblock %}

{% block content %}

    <h4>План:</h4>
    <p>-После заполнения формы создаётся новая таблица
    <p>-Окно сохранения текстового документа на диск
    <p>-Открывается поле проекта<br><hr>

        <!-- 
1. Соеденить таблицы для вложенностей категорий,
2. Верстка новой домашней страницы (мои проекты):
    - Вид вкладок сверху (чё там: персонажи, локации, заметки),
    - 
3. Верстка окна редактирования проекта (окошки разных единиц, боковые окошки опциональных заметок):
    - Пометки (суб-названия) для единиц ДЛЯ быстрой удобной группировки (определенные локации например),
    - МОЖЕТ БЫТЬ группировка единиц с определенными персонажами.
4. Верстка вкладок заметок (локации, описание персонажа и т.д.),
    - Имя персонажа,
    - Возраст,
    - Внешность (вместо функции загрузки пикчи)
    - (Характер,
    - История,
    - Отношения с
    - Особенности.) ОПИСАНИЕ персонажа
5. Разобраться с куками,

* Разобраться с экспортом в ПДФ-ке
-->

    <button id="new_project_button"><h2>Начать проект</h2></button>
    
    <div id='login_container' class='form-group' style='display:none; background-color: rgb(255, 255, 255);'>
        <h2>Новый проект</h2>
        <form id='new_project_form' action="/my_projects" method="post">
                <div class="form-group">
                <label for="title">Название проекта (обязательно):</label>
                <input type="title" id="project_title" name="project_title" required>
                <div class="error" id="title-error"></div>
            </div>

            <div class="form-group">
                <label for="description">Описание:</label>
                <!-- <input class='description' type="description" id="description" name="description"> -->
            </div>
            <!-- <div id='new_project_button_div'> -->
                <button type="submit" class='start_button'id="start_jorney_button">Начать приключение!</button>
            <!-- </div> -->
        </form>
    </div>

    <div>
        <h3>Проекты</h3>
        <ul id="ulProject">
    
        </ul>
    </div>

<!-- ----------------------------- ЗАДАНИЯ ----------------------------------- !>

    <div style='margin-top:2%;background-color:rgb(255, 255, 255, 0.5); margin-left:25%;margin-right:25%;padding-top:0.3%;padding-bottom:3%;text-align:center'>
        <h3>Создать задачу</h3>
        <form id="taskFormCreate">
            <p><label>Название</label>
            <input type="text" id="taskFormTitle"></p>
            <p><label>Описание</label>
            <input type="text" id="taskFormDescription"></p>
            <button id="taskFormCreateBtn">Сохранить</button>
        </form>
        
    <button id="getTask", style="margin-top:5%">РЕНДЕР!</button>
    </div>
    
    <div style='background-color:rgb(255, 255, 255, 0.5);margin-top:2%; margin-left:25%;margin-right:25%;padding-top:0.3%;padding-bottom:3%;text-align:center'>
    
        <h3>Таблица с задачами:</h3>
        <ul id="ulTask">
    
        </ul>
    </div>
    
 <! ----------------------------- ЗАДАНИЯ ----------------------------------- -->

    <div id="'message"></div>


</body>
<script src="{{ url_for('static', path='js/new_project_script.js') }}">
</script>
{% endblock %}


